// В этом файле должны быть стили только для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Не пишите здесь другие селекторы.

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {
  display: inline-block;
  font-weight: $btn-font-weight;
  //text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  //user-select: none;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);
  border: none;
  outline: none;

  &-primary {
    max-width: 420px;
    width: 100%;
    background-color: #fff !important;
    padding: 16px 40px 12px 40px;
    font-size: 37px;
    letter-spacing: 0.7px;
    border-radius: 50px;
    color: $color-main--accent;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 50px -5px $color-main--accent;
    transition: box-shadow 6s;

    span {
      transition: color 1.5s;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: -50%;
      right: -50%;
      height: 0;
      padding-bottom: 200%;
      background: darken(white, 1%);
      mix-blend-mode: color-burn;
      top: 0;
      z-index: -1;
      border-radius: 350px;
      transition: transform 2.5s, background 6s;
    }

    &:after {
      transform: translate3d(-5%,6em,0) rotate(-45deg);
    }

    &:before {
      transform: translate3d(5%,6em,0) rotate(0deg);
    }

    &:hover, &:focus {
      box-shadow: 0 0 50px -5px darken($color-main--accent, 20%);
      color: white;
      background-color: #fff;

      span {
        color: white !important;
      }

      &:before,
      &:after {
        transform: translate3d(0,-5em,0) rotate(180deg);
        background: #b03247;
      }
    }
  }

  &-light {
    padding: 16px 40px 12px 40px;
    font-size: 23px;
    letter-spacing: 1.2px;
    border-radius: 50px;
    background-color: #ffffff;
    color: $color-main;

    &:focus, &.focus {

    }

    @include hover-focus {

    }

    &.active {

    }

    &:not(:disabled):not(.disabled) {

    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {


      &:focus {

      }
    }
  }

  &-outline-primary {


    &:focus, &.focus {

    }

    @include hover-focus {

    }

    &.active {

    }

    &:not(:disabled):not(.disabled) {

    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {

      &:focus {

      }
    }
  }

  &-toMini {
    transition: all 1s;

    &:hover, &:focus {
      transform: scale(0.85);
    }
  }
}


.button-wrapper {
  //width: 450px;
  text-align: center;
  box-sizing: border-box;
  transition: .3s all ease .3s;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate3d(-50%, -50%, 0);

  button {
    width: 100%;
    background: #8e44ad;
    border: none;
    border-radius: 50px;
    //padding: 5px 0;
    cursor: pointer;
    transition: .3s all ease;
    position: relative;
  }

  button span {
    //color: white;
    //font-size: 18px;
    //font-weight: 400;
    //line-height: 40px;
    //max-height: 40px;
    //-webkit-transition: .3s all ease;
    transition: .3s all ease;
  }

  button .fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0%;
    background: #8e44ad;
    border-radius: 50px;
  }

  button .fa {
    font-size: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 50px;
    transform: scale(0);
  }
}

.button-wrapper.clicked {
  padding: 0;
}

.button-wrapper.clicked button {
  background: #ccc;
  //margin-top: 25px;
}

.button-wrapper.clicked button span {
  max-height: 0;
  overflow: hidden
}

.button-wrapper.clicked button .fill {
  width: 100%;
  -webkit-transition: .3s all ease .3s;
  transition: 2s all ease .6s;
}

.button-wrapper.success button {
  margin: 0;
  padding: 25px;
  width: 50px;
  height: 50px;
}

.button-wrapper.success button .fa {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s all ease .3s;
  transition: .3s all ease .3s;
}


// checkbox and radio button

.control-group {

}
.control {
  display: block;
  position: relative;
  padding-left: 29px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 15px;
  line-height: 25px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background-color: white;
}
.control input:checked ~ .control__indicator {
  background: white;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: white;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 7px;
  top: 1px;
  width: 5px;
  height: 12px;
  border: solid #c39329;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
