// В этом файле должны быть стили для БЭМ-блока review, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.review {

  $block-name: &; // #{$block-name}__element {}
  padding: 20px 20px;

  &__title {
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 50px;
    color: #1c756f;
  }
}
