// В этом файле должны быть стили для БЭМ-блока review, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.review {

  $block-name: &; // #{$block-name}__element {}
  padding: 20px 20px;

  &__title {
    font-size: 72px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 50px;
    color: #1c756f;
  }

  &__img {
    width: 138%;
    left: -18%;
    position: absolute !important;
    top: -10%;
    height: 138%;
    z-index: -1;

    &__block {
      background-image: url("../img/background-review.png");
      background-position: top center;
      background-size: cover;
      //z-index: -1;
      height: 50%;
    }
  }
}
