// В этом файле должны быть стили для БЭМ-блока timer, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.timer {

  $block-name:                &; // #{$block-name}__element {}
  background: white;
  border: 10px solid white;
  border-bottom: none;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.18);
  padding-top: 64px;
  position: relative;

  &__percentage {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 8px;
    padding: 0px 210px 0px 105px;
    margin-bottom: 7px;
    color: $color-main--accent;

    @media(min-width: $screen-md) {
      font-size: 235px;
      line-height: 175px;
    }
  }

  &__text {
    font-size: 60px;
    line-height: 60px;
    padding: 0px 0px 0px 109px;
    letter-spacing: 1px;
    color: $color-main--accent;
    margin-bottom: 3px;
  }

  &__line {
    display: block;
    background-image: url(../img/main-background2.jpg);
    width: 624px;
    height: 128px;
    margin-left: 22px;
    padding: 20px 110px 0px 89px;
    color: white;
    font-size: 78px;
    line-height: 79px;

    &__sub {
      font-size: 40px;
    }
  }

  &__more {
    padding: 0px 0px 0px 110px;
    font-size: 25px;
    line-height: 31px;

    a {
      transition: all 400ms cubic-bezier(0.3, 0, 1, 1) 0s;
      color: #000;

      &:hover, &:focus {
        text-decoration: none;
        outline: none;
      }
    }

    &:hover {
      a {
        color: green;
      }
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: -100px;
    padding: 0;
    list-style: none;
    margin: 0;
    pointer-events: auto !important;
  }

  &__info {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);

    .procedure__info {
      &__price {
        opacity: 0;
        pointer-events: none;
      }

      &__small {
        opacity: 0;
        pointer-events: none;
      }

      &.active {
        .procedure__info {
          &__price {
            opacity: 1;
            pointer-events: auto;
          }

          &__small {
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }

  &__description {
    margin-top: 9px;
    background-color: #f1f1f1;
    padding: 19px 16px 20px 44px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-left: -10px;
    margin-right: -10px;

    p {
      margin: 0;
    }
  }

  &__countdown {
    margin-left: 9px;
  }

  &__btn {
    margin-left: auto;
    padding-top: 4px;
    text-align: right;

    .btn {
      padding: 16px 0px 11px 0px;
      font-size: 25px;
      min-width: 253px;
      letter-spacing: 0.3px;
      width: auto;
    }

    p {
      font-size: 15px;
      margin-top: 5px;
      color: $color-main--accent;
    }
  }
}
